<footer>

	<div class="container-fluid">
		<div class="row">
			<div class="content-footer">
				<div class="col-6 col-md-2 bloc footer-contact">
					<h3>Cordonnées</h3>
					<ul class="liste-contact">
						<li>
							<i class="fas fa-map-marker-alt fa-fw"></i>
							123 Avenue de Symfony
						</li>
						<li>
							75001 Paris
						</li>
						<li>
							<i class="fa fa-phone fa-fw"></i>
							0132546789
						</li>
						<li>
							<i class="fa fa-envelope fa-fw"></i>
							info@compagny.com
						</li>
					</ul>
				</div>

				<div class="col-6 col-md-2 bloc footer-client">
					<h3>Services</h3>
					<ul class="liste-client">
						<li>
							<a href="#">Conditions générales de vente</a>
						</li>
						<li>
							<a href="#">Retour et remboursement</a>
						</li>
						<li>
							<a href="#">FAQs</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
				</div>

				<div class="col-6 col-md-2 bloc footer-apropos">
					<h3>A propos</h3>
					<ul class="liste-apropos">
						<li>
							<a href="#">Gestion des cookies</a>
						</li>
						<li>
							<a href="#">Mentions légales</a>
						</li>
						<li>
							<a href="#">Protection des données</a>
						</li>
						<li>
							<a href="#">Plan du site</a>
						</li>
					</ul>
				</div>

				<div class="col-6 col-md-2 bloc footer-media">

					<h3>Nos réseaux</h3>
					<ul class="liste-media">
						<li>
							<a href="#">
								<img src="img/medias/fb.png" alt="icones réseaux sociaux">Facebook</a>
						</li>
						<li>
							<a href="#">
								<img src="img/medias/twitter.png" alt="icones réseaux sociaux">Twitter</a>
						</li>
						<li>
							<a href="#">
								<img src="img/medias/github.png" alt="icones réseaux sociaux">Git-Hub</a>
						</li>
						<li>
							<a href="#">
								<img src="img/medias/instragram.png" alt="icones réseaux sociaux">Instragram</a>
						</li>
					</ul>
				</div>

			</div>
		</div>

	</div>
	<div class="text-center mt-3">
		<p class="footer-copyright mb-2">2022 © Iboy, All Rights Reserved</p>
	</div>

</footer>
