{% extends 'base.html.twig' %}

{% block title %}Page-Contact
{% endblock %}

{% block body %}
	<div class="container col-6">

		<div class="row">
			<div class="col-12 text-center contactBg mt-3">
				<h1>Nous contacter</h1>
				<h4>Contacter notre équipe pour en savoir plus sur Beauty-Shop</h4>
			</div>

			<div class="contact-form mb-2">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn btn-primary mt3" type="submit">Envoyer</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}
