{% extends "admin/base.html.twig" %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<div class="row">
			<div class="col-md-6 my-3">
				<h1>
					<i class="fa-solid fa-user-gear mx-3"></i>
					Administration du site</h1>

				<P>Vous êtes sur la partie Admin du site pour la gestion des produits, des catégories, des Utilisateur et des Documents légales.</P>
                <p>Veuillez cliquer sur le nom d'un groupe dans la navbar pour le modifier.</p>
			</div>
		</div>
	</div>

{% endblock %}
