*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */
body,
ul,
li,
p,
a,
label,
input,
div {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
}

.h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
}

.h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
}

.h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px !important;
}

.navbar {
    background-color: #2F9C67;
}

.navbar img {
    height: 60px;
}

.navbar i {
    max-width: 50% !important;
}

.imageCategory {
    padding-top: 15px;
    height: 325px;
    object-fit: contain;
}

.imageCardProduct {
    margin-bottom: 0;
    object-fit: contain;
    max-height: 200px;
    padding-top: 20px;
}

.imageDetailProduct {
    object-fit: contain;
    min-height: 300px;
    padding-top: 20px;
}

.imageCardOtherProduct {
    object-fit: contain;
    max-height: 200px;
    padding-top: 20px;
}

.imageCard {
    height: 300px;
    object-fit: contain;
    padding-top: 15px;
}

.imageCard img {
    height: 300px;
    object-fit: contain;
    padding-top: 15px;
}

.imageCarousel {
    height: 500px;
    object-fit: cover;
}

.imageDetailProduct {
    padding-top: 20px;
    height: 250px;
    object-fit: contain;
}

.imgprofile {
    max-width: 100%;
}

.msgSupport {
    color: rgb(118, 118, 118);
}

.namePanier {
    font-weight: 300;

}

#champs {
    font-size: 35px;
}

.text-medium-grey {
    color: grey;
}

.height_carrousel .img img {
    width: auto;
    max-height: 400px;
    overflow: hidden;
}

.typoRegisterConstraint p {
    font-size: 15px;
    color: grey;
}


.textRaja {
    text-align: center;
    color: red;
    font-weight: bold !important;
}

/* HOME  */

.card-title {
    /* POUR minimaliser le texte sans qu'il sorte de la div*/
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    overflow: hidden;
}


/* FOOTER */

footer {
    /* flex-shrink: 0; */
    border-top: 1px solid #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
    display: flex;
    flex-direction: column;
}

.content-footer {
    font-size: 10 px;
    padding: 30px 0px 40px;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* grow shrink basis */
    flex: 1 0 auto;
    justify-content: center;
    align-items: flex-start;
}

.bloc {
    margin: 0px 25px;
}

.footer-contact h3,
.footer-client h3,
.footer-apropos h3,
.footer-media h3 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 35px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: block;
    border-bottom: 2px solid #1bbc9b;
}


.footer-contact ul,
.footer-client ul,
.footer-apropos ul {
    padding: 5px 0;
}

/* contact */
.liste-contact li {
    padding: 2px 0px;
}

/* service */
.liste-contact,
.liste-client,
.liste-apropos,
.liste-media {
    list-style-type: none;
}

.list-contact li,
.liste-client li,
.liste-apropos li,
.liste-media li {
    padding: 2px 0;
}

.liste-client a,
.liste-apropos a,
.liste-media a {
    text-decoration: none;
    color: #888;
}

.liste-client li a:hover,
.liste-apropos li a:hover {
    color: #000
}

/* media */
.liste-media {
    position: relative;
    right: 42px;
}

.liste-media img {
    width: 20px;
    margin: 5px 10px;
}

.liste-media a {
    font-size: 30px;
    text-decoration: none;
    color: #444;
    display: flex;
    align-items: center;
}

/* reset password */
.resetText {
    font-size: 12px !important;
}